.ColorSelect {
  box-shadow: 0 0 0 1px black;
  position: relative;
  position: relative;
  height: 100px;
  width: 100px;
  background-image: linear-gradient(
    to right,
    hsl(0, 0%, 50%),
    hsl(0, 100%, 50%)
  );
}

.ColorSelect::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to top, hsl(0, 100%, 0%), hsl(0, 100%, 100%));
  mix-blend-mode: hard-light;
}
