.ColorPicker {
  height: 200px;
  border: 1px dashed black;
}

.Rainbow {
  height: 100px;
  width: 100px;
  border: 1px solid blue;
  background: linear-gradient(to right, hsl(0, 0%, 0%), hsl(0, 100%, 100%)),
    linear-gradient(to top, hsl(0, 0, 0), hsl(0, 100%, 100%));
}
